@import url("normilize.css");

* {
  box-sizing: border-box;
  color: black;
  font-family: "Times New Roman", Georgia, serif;
  text-align: center;
}

/*Flex ----------*/

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.everest, .main_nav, .about_me, .main_content {
  display: flex;
  flex-direction: column;
}

.main_footer {
  flex-grow: 1;
}

.very_bottom {
  display: flex;
  justify-content: space-between;
}

/*General Styling ----------*/

.wrapper > * {
  padding: 0 5%;
}

.main_header, .main_footer {
  background: rgb(250, 250, 250);
}

.main_header p, .main_footer p {
  color: darkgrey;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li, h5, h2 {
  text-transform: uppercase;
}
li {
  font-weight: bold;
}

article {
  margin-top: 2em;
}

hr {
  width: 100%;
}

/*Phone styling ----------*/

.about_me {
  margin-top: 2.5em;
}

li {
  background: white;
  padding: 1em;
  margin-bottom: 0.33em;
}

.about_me_img {
  width: 70%;
  margin: 0 auto;
}

p {
  font-size: 1.25em;
}

h2 {
  font-size: 1em;
  margin: 3.5em 0 2.5em;
}

h5 {
  font-size: 0.8em;
}

.main_footer {
  padding-bottom: 0.5em;
}

.not_for_phone {
  display: none;
}

@media (min-width: 769px) {
  .not_for_phone {
    display: inherit;
  }

  .main_header {
    padding-top: 2em;
  }

  .main_nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main_content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about_me {
    flex-direction: row-reverse;
    margin-bottom: 2.5em;
  }

  .intro {
    text-align: left;
    padding-right: 1em;
    margin-top: 0;
    font-size: 1.5em;
  }

  .about_me_img {
    width: 40%;
    object-fit: contain;
    height: 40%;
  }

  li {
    background: inherit;
  }

  .main_article {
    flex: 1 50%;
    padding: 0.3em;
  }

  .main_footer p {
    width: 70%;
    font-size: 1.5em;
    margin: 2em auto;
  }

  .main_footer {
    padding-bottom: 3em;
  }

  .phone-only {
    display: none;
  }

  h4 {
    font-size: 1.1em;
    margin-top: 0.75em;
  }
}

@media (min-width: 1025px) {
  .everest {
    flex-direction: row;
    justify-content: space-between;
  }

  .main_article {
    flex: 33%;
  }
}
